.date-cls{
    color: aqua;
    font-size: 1.2rem;
    font-weight: 400;
}


.success{
    color: green;
    font-size: 1.2rem;
    font-weight: 400;
}

.error{
    color: red;
    font-size: 1.2rem;
    font-weight: 400;
}