<h1>{{ title() | uppercase}}</h1>
<h1>{{ title() | lowercase}}</h1>
<h1>{{ title() | titlecase}}</h1>
<h4 class="date-cls" appAppHighlight="lightblue">{{ date | date:'dd-MMM-yyyy' }}</h4>

<p>Price: {{ price | currency:'USD' }}</p>
<p>Price: {{ price | currency:'EUR' }}</p>
<p>Price: {{ price | currency:'INR' }}</p>

<p>Name: {{ name | slice:0:3 }} </p>
<p>Percentage: {{ percentValue | percent }}</p>

<span>{{ jsonData | json }}</span>

<p>Reversed Name: {{ name | reverse }}</p>



<button (click)="handleClickEvent()">Click here</button>
<img [src]="imgSrc" alt="Bg Img" />
<app-about></app-about>

<app-services></app-services>

<hr />
<div style="padding: 20px">
  <h2 [ngClass]="{ success: showLifecycle, error: !showLifecycle }">Lifecycle Hooks Module</h2>
  <button (click)="toggleLifecycle()">
    {{ showLifecycle ? 'Destroy Component' : 'Create Component' }}
  </button>
  <button (click)="updateLifecycleData()" [disabled]="!showLifecycle">Update Data</button>

  @if (showLifecycle) {
  <app-lifecycle-demo [data]="lifecycleData" (reset)="resetData($event)"> </app-lifecycle-demo>
  }

  @for (item of course; track item.name) {
  <p style="font-size: 1.2rem; font-weight: 400;">{{ item.name }} - {{ item.duration }}</p>
  }

  @switch (date.getDay()) {
  @case (0) {
  <p>Today is Sunday</p>
  }
  @case (4) {
  <p [ngStyle]="{ color: themeColor, 'font-size': fontSize + 'px' }">Today is Thursday</p>
  }
  @case (6) {
  <p>Today is Saturday</p>
  }
  @default {
  <p>Today is a weekday</p>
  }
  }
</div>
<hr />
<app-forms-tutorial></app-forms-tutorial>
<hr />
<app-services-tutorial></app-services-tutorial>
<hr />

<app-http-tutorial></app-http-tutorial>
<!-- <app-signals-tutorial></app-signals-tutorial>
<hr />
<app-routing-tutorial></app-routing-tutorial>
<hr />

<hr />
<div class="router-container" style="padding: 20px; background: #fdfdfd; border-radius: 8px; margin-top:20px;">
  <h2>Active Route View</h2>
  <router-outlet />
</div> -->