<h1>{{ title() }}</h1>
<h4 class="date-cls" appAppHighlight="lightblue">{{ date }}</h4>
<button (click)="handleClickEvent()">Click here</button>
<img [src]="imgSrc" alt="Bg Img" />
<app-about></app-about>

<app-services></app-services>

<hr />
<div style="padding: 20px">
  <h2 [ngClass]="{ success: showLifecycle, error: !showLifecycle }">Lifecycle Hooks Module</h2>
  <button (click)="toggleLifecycle()">
    {{ showLifecycle ? 'Destroy Component' : 'Create Component' }}
  </button>
  <button (click)="updateLifecycleData()" [disabled]="!showLifecycle">Update Data</button>

  @if (showLifecycle) {
    <app-lifecycle-demo [data]="lifecycleData" (reset)="resetData($event)"> </app-lifecycle-demo>
  }

  @for (item of course; track item.name) {
    <p style="font-size: 1.2rem; font-weight: 400;">{{ item.name }} - {{ item.duration }}</p>
  }

  @switch (date.getDay()) {
    @case (0) {
      <p>Today is Sunday</p>
    }
    @case (4) {
      <p [ngStyle]="{ color: themeColor, 'font-size': fontSize + 'px' }">Today is Thursday</p>
    }
    @case (6) {
      <p>Today is Saturday</p>
    }
    @default {
      <p>Today is a weekday</p>
    }
  }
</div>
<hr />
<router-outlet />
